@charset "UTF-8";
/*Se agregan estilos para header y navbar*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Diseño de la pagina*/
.contenedor-pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

/*diseño del encabezado*/
header {
  background: black;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 5; }
  header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    color: white; }

/*Barra de navegación, tipo de letra, tamaño, etc..*/
.navbar {
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 5; }

#navbarNavAltMarkup {
  justify-content: space-around !important; }

.nav-link {
  padding: 0px 50px !important; }

/*color de las letras de la barra de navegacion*/
a {
  color: white !important;
  text-decoration: none;
  font-size: 25px !important; }

/*Estilos del main: Página de inicio*/
.main-inicio {
  width: 100%;
  padding-top: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

/*se agrega imagen de fondo*/
.mensaje-inicio {
  background-color: black;
  height: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }
  .mensaje-inicio h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding-top: 25px; }
    .mensaje-inicio h2::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      top: -6vmin;
      left: 5vmin;
      width: 40vmin;
      height: 40vmin;
      border-radius: 50%;
      border: 0.8vmin solid white;
      box-sizing: border-box; }

/*uso de mixins*/
:root {
  --bg-color: black; }

.mensaje-mov {
  font-size: 3em;
  color: white;
  width: 100%;
  height: 200px; }
  .mensaje-mov span {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    line-height: 1.2;
    text-align: center; }
    .mensaje-mov span::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: white;
      animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
      transform: translateX(-101%); }
    .mensaje-mov span::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
      transform: translateX(0); }
    .mensaje-mov span:nth-of-type(1)::before {
      animation-delay: 1s; }
    .mensaje-mov span:nth-of-type(1)::after {
      animation-delay: 1s; }
    .mensaje-mov span:nth-of-type(2)::before {
      animation-delay: 1.5s; }
    .mensaje-mov span:nth-of-type(2)::after {
      animation-delay: 1.5s; }
    .mensaje-mov span:nth-of-type(3)::before {
      animation-delay: 2s; }
    .mensaje-mov span:nth-of-type(3)::after {
      animation-delay: 2s; }

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(101%); } }

@keyframes a-ltr-before {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(200%); } }

.destacados-inicio img {
  height: 150px;
  width: 100%; }

.contenedor-trabajo-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%; }
  .contenedor-trabajo-inicio .trabajo-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%; }
    .contenedor-trabajo-inicio .trabajo-inicio h2 {
      display: inline-block;
      position: relative;
      font-family: 'Dancing Script', cursive;
      font-size: 25px;
      font-weight: 400; }
      .contenedor-trabajo-inicio .trabajo-inicio h2::after, .contenedor-trabajo-inicio .trabajo-inicio h2::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: currentColor;
        top: 0.6em; }
      .contenedor-trabajo-inicio .trabajo-inicio h2::before {
        left: -40px; }
      .contenedor-trabajo-inicio .trabajo-inicio h2::after {
        right: -40px; }
  .contenedor-trabajo-inicio p {
    font-family: font-family "Lucida Sans";
    font-size: letra-cuerpo-sm;
    text-align: center; }

.proy-arq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #dce2e6; }
  .proy-arq img {
    height: 300px;
    width: 100%; }
  .proy-arq h3 {
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    color: black; }

.proy-cons,
.proy-est,
.proy-mant {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  background-color: #dce2e6; }
  .proy-cons img,
  .proy-est img,
  .proy-mant img {
    height: 250px;
    width: 100%; }
  .proy-cons h3,
  .proy-est h3,
  .proy-mant h3 {
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    color: black; }

/*imagenes de proyectos destacados*/
.destacados-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .destacados-inicio h2 {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-weight: 400; }
  .destacados-inicio h2::after,
  .destacados-inicio h2::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em; }
  .destacados-inicio h2::before {
    left: -40px; }
  .destacados-inicio h2::after {
    right: -40px; }
  .destacados-inicio p {
    font-family: font-family "Lucida Sans";
    font-size: 20px;
    text-align: center; }
  .destacados-inicio img {
    height: 150px;
    width: 100%; }

/* Pagina nuestro trabajo*/
.main-nuestro-trabajo {
  width: 100%; }
  .main-nuestro-trabajo .mensaje {
    margin: 155px 0px 0px 0px !important;
    display: flex;
    justify-content: center; }
    .main-nuestro-trabajo .mensaje h2 {
      display: inline-block;
      position: relative;
      font-family: 'Dancing Script', cursive;
      font-size: 25px;
      font-weight: 400; }
    .main-nuestro-trabajo .mensaje h2::after, .main-nuestro-trabajo .mensaje h2::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: currentColor;
      top: 0.6em; }
    .main-nuestro-trabajo .mensaje h2::before {
      left: -40px; }
    .main-nuestro-trabajo .mensaje h2::after {
      right: -40px; }

.main-nuestro-trabajo .container-fluid h2 {
  text-align: center; }

.main-nuestro-trabajo .container-fluid h3 {
  color: #21149c;
  text-align: center; }

.main-nuestro-trabajo .container-fluid img {
  cursor: pointer;
  transition: all 500ms ease-out; }

.main-nuestro-trabajo .container-fluid img:hover {
  transform: scale(1.5); }

/*centrar elementos de cada caja*/
#proy-estruc,
#proy-arq,
#proy-cons,
#proy-mant,
#proy-planos {
  margin: 10px 2px 2px 0px;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  /*imagenes del mismo tamaño*/ }
  #proy-estruc img,
  #proy-arq img,
  #proy-cons img,
  #proy-mant img,
  #proy-planos img {
    height: 150px;
    width: 250px; }
  #proy-estruc p,
  #proy-arq p,
  #proy-cons p,
  #proy-mant p,
  #proy-planos p {
    font-family: font-family "Lucida Sans";
    font-size: 20px;
    text-align: center; }

/*para los testimonios*/
.trabajo-testimonios, .testimonio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%; }
  .trabajo-testimonios hr, .testimonio hr {
    border: 2px solid black;
    width: 100px; }
  .trabajo-testimonios p, .testimonio p {
    text-align: center; }

.testimonio {
  padding-top: 50px; }

.puntuacion img {
  height: 50px;
  width: 170px; }

.puntuacion p {
  color: #727272; }

.opinion {
  width: 100%; }
  .opinion p {
    font-size: 20px; }

.usuario p {
  font-size: 20px;
  color: #88b06a; }

/*Estilos de Galería*/
.main-galeria {
  padding: 160px 0px 0px 0px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

.imagen h2,
.imagen p {
  background-color: rgba(255, 255, 255, 0.521); }

.titulo {
  width: 100%;
  display: flex;
  justify-content: center; }
  .titulo h2 {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 400; }
  .titulo h2::after,
  .titulo h2::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em; }
  .titulo h2::before {
    left: -40px; }
  .titulo h2::after {
    right: -40px; }

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

#imagen-1, #imagen-2, #imagen-3, #imagen-4, #imagen-5, #imagen-6, #imagen-7, #imagen-8, #imagen-9, #imagen-10, #imagen-11, #imagen-12, #imagen-13, #imagen-14 {
  margin: 3px;
  background-image: url("../images/edificio1.jpg");
  background-size: cover;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center; }

#imagen-2 {
  background-image: url("../images/tanque3.jpg");
  height: 300px;
  width: 100%; }

#imagen-3 {
  background-image: url("../images/construccion3.jpg");
  height: 300px;
  width: 100%; }

#imagen-4 {
  background-image: url("../images/construccion1.jpg");
  height: 300px;
  width: 100%; }

#imagen-5 {
  background-image: url("../images/construccion2.jpg");
  height: 300px;
  width: 100%; }

#imagen-6 {
  background-image: url("../images/construccion4.jpg");
  height: 300px;
  width: 100%; }

#imagen-7 {
  background-image: url("../images/edificio3.jpg");
  height: 300px;
  width: 100%; }

#imagen-8 {
  grid-area: imagen-8;
  background-image: url("../images/edificio2.jpg");
  height: 300px;
  width: 100%; }

#imagen-9 {
  background-image: url("../images/rev-edificios.jpg");
  height: 300px;
  width: 100%; }

#imagen-10 {
  background-image: url("../images/rev-edificios1.jpg");
  height: 300px;
  width: 100%; }

#imagen-11 {
  background-image: url("../images/tanque.jpg");
  height: 300px;
  width: 100%; }

#imagen-12 {
  background-image: url("../images/tanque2.jpg");
  height: 300px;
  width: 100%; }

#imagen-13 {
  background-image: url("../images/estructura-3-niveles1.png");
  height: 300px;
  width: 100%; }

#imagen-14 {
  background-image: url("../images/estructura-3-niveles2.png");
  height: 300px;
  width: 100%; }

/*Estilos para página de contacto*/
.main-contacto {
  padding: 135px 0px 25px 0px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

#contacto-cons img {
  height: 300px;
  width: 300px; }

#contacto-des {
  display: flex;
  flex-direction: column;
  background-size: 200px; }
  #contacto-des p {
    text-align: left;
    font-family: font-family "Lucida Sans";
    font-size: 20px; }

.contacto {
  background-image: url("../images/fondo-construccion.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;
  width: 100%; }

.contacto-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: aliceblue;
  width: 100%; }
  .contacto-info p {
    height: 30px;
    font-size: 20px; }

.formulario {
  background-image: url(../images/fondo-nosotros.jpg);
  margin: 10px;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .formulario label {
    color: white; }

.cartas {
  padding-top: 30px; }
  .cartas .card {
    margin: 25px; }
  .cartas #carta-1 {
    background-image: url(../images/fondo-nosotros.jpg); }
    .cartas #carta-1 p {
      text-align: center;
      font-size: 20px; }

.linea-div {
  width: 50%; }

/*Estilos página nosotros*/
.main-nosotros {
  width: 100%;
  padding-top: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

/*Agregamos una imagen de fondo*/
.nosotros-mensaje {
  background-image: url("../images/fondo1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .nosotros-mensaje h2 {
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.525);
    animation: titulo-animacion 3s infinite;
    animation-timing-function: ease; }

@keyframes titulo-animacion {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%); }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%); }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%); }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%); } }

#logo, #mision,
#vision, #texto {
  display: flex;
  align-items: center;
  justify-content: center; }
  #logo img, #mision img, #vision img, #texto img {
    height: 250px;
    width: 250px; }

#mision img,
#vision img, #texto img {
  height: 350px;
  width: 100%; }

.mision, .vision, .texto {
  background-image: url("../images/fondo-nosotros.jpg"); }
  .mision p, .vision p, .texto p {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white; }
  .mision h2, .vision h2, .texto h2 {
    color: white; }

.texto ul li {
  text-align: left;
  font-family: font-family "Lucida Sans";
  font-size: 20px;
  color: white; }

#mensaje p {
  text-align: center;
  font-family: font-family "Lucida Sans";
  font-size: 20px; }

.nosotros-pagina img {
  height: 200px;
  width: 100%; }

/*Pie de página*/
footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*position: absolute;*/
  bottom: 0;
  height: 100%;
  width: 100%; }
  footer h3 {
    color: white; }

footer ul li {
  list-style-type: none;
  display: inline-block; }

/*media queries*/
@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 35px; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 25px; }
  /*Estilos del main: Página de inicio*/
  .main-inicio {
    width: 100%;
    padding-top: 140px; }
    .main-inicio p {
      font-size: 25px; }
  .mensaje-inicio {
    height: 490px; }
    .mensaje-inicio h2::before {
      top: -6vmin;
      left: 4vmin;
      width: 32vmin;
      height: 32vmin; }
  /*se acomodan las imagenes*/
  .contenedor-trabajo-inicio {
    display: grid;
    grid-template-areas: "trabajo-inicio trabajo-inicio" "secc-izq secc-der"; }
  .trabajo-inicio {
    grid-area: trabajo-inicio; }
    .trabajo-inicio h2 {
      display: inline-block;
      position: relative;
      font-family: 'Dancing Script', cursive;
      font-size: 60px;
      font-weight: 600; }
    .trabajo-inicio h2::after, .trabajo-inicio h2::before {
      content: '';
      position: absolute;
      width: 120px;
      height: 3px;
      background-color: currentColor;
      top: 0.6em; }
    .trabajo-inicio h2::before {
      left: -140px; }
    .trabajo-inicio h2::after {
      right: -140px; }
  .secc-izq {
    grid-area: secc-izq; }
  .secc-der {
    grid-area: secc-der; }
  .proy-arq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden; }
    .proy-arq img {
      height: 600px;
      width: 500px;
      cursor: pointer; }
    .proy-arq img:hover {
      overflow: hidden;
      transform: translate3d(50px, 0, 0); }
    .proy-arq h3 {
      text-transform: uppercase;
      position: relative;
      color: black; }
  .proy-cons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden; }
    .proy-cons img {
      height: 250px;
      width: 700px;
      cursor: pointer; }
    .proy-cons img:hover {
      overflow: hidden;
      transform: translate3d(-50px, 0, 0); }
    .proy-cons h3 {
      text-transform: uppercase;
      position: relative;
      color: black; }
  .proy-est {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden; }
    .proy-est img {
      height: 280px;
      width: 300px;
      cursor: pointer; }
    .proy-est img:hover {
      overflow: hidden;
      transform: translate3d(-50px, 0, 0); }
    .proy-est h3 {
      text-transform: uppercase;
      position: relative;
      color: black; }
  .proy-mant {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden; }
    .proy-mant img {
      height: 250px;
      width: 300px;
      cursor: pointer; }
    .proy-mant img:hover {
      overflow: hidden;
      transform: translate3d(-50px, 0, 0); }
    .proy-mant h3 {
      text-transform: uppercase;
      position: relative;
      color: black; }
  .destacados-inicio img {
    height: 350px; }
  .destacados-inicio h2 {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 600; }
  .destacados-inicio h2::after,
  .destacados-inicio h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em; }
  .destacados-inicio h2::before {
    left: -140px; }
  .destacados-inicio h2::after {
    right: -140px; }
  /*Estilos de la página Nuestro Trabajo*/
  .main-nuestro-trabajo {
    width: 100%; }
    .main-nuestro-trabajo .mensaje {
      margin: 145px 0px 0px 0px !important;
      display: flex;
      justify-content: center; }
      .main-nuestro-trabajo .mensaje h2 {
        display: inline-block;
        position: relative;
        font-family: 'Dancing Script', cursive;
        font-size: 60px;
        font-weight: 600; }
      .main-nuestro-trabajo .mensaje h2::after, .main-nuestro-trabajo .mensaje h2::before {
        content: '';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: currentColor;
        top: 0.6em; }
      .main-nuestro-trabajo .mensaje h2::before {
        left: -140px; }
      .main-nuestro-trabajo .mensaje h2::after {
        right: -140px; }
  .main-nuestro-trabajo .container {
    margin: 0px !important;
    width: 100%; }
    .main-nuestro-trabajo .container p {
      font-size: 25px; }
  /*imagenes*/
  /*imagenes del mismo tamaño*/
  #proy-estruc img,
  #proy-arq img,
  #proy-cons img,
  #proy-mant img,
  #proy-planos img {
    height: 250px;
    width: 350px; }
  .imagen {
    overflow: hidden; }
    .imagen img {
      cursor: pointer;
      transition: all 500ms ease-out; }
  /*Testimonios*/
  .testimonios {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .testimonio {
    padding: 20px 50px;
    justify-content: flex-start; }
    .testimonio p {
      text-align: left; }
  .puntuacion {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  /*Estilos de Galería*/
  .main-galeria h2 {
    font-size: 30px; }
  .main-galeria p {
    font-size: 25px; }
  .titulo h2 {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 600; }
  .titulo h2::after,
  .titulo h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em; }
  .titulo h2::before {
    left: -140px; }
  .titulo h2::after {
    right: -140px; }
  .galeria {
    display: grid;
    grid-template-areas: "imagen-1 imagen-1 imagen-2 imagen-3" "imagen-4 imagen-5 imagen-2 imagen-6" "imagen-7 imagen-8 imagen-8 imagen-9" "imagen-7 imagen-10 imagen-11 imagen-12" "imagen-13 imagen-13 imagen-14 imagen-14"; }
  #imagen-1, #imagen-2, #imagen-3, #imagen-4, #imagen-5, #imagen-6, #imagen-7, #imagen-8, #imagen-9, #imagen-10, #imagen-11, #imagen-12, #imagen-13, #imagen-14 {
    grid-area: imagen-1;
    height: 300px;
    width: 640px; }
  #imagen-2 {
    grid-area: imagen-2;
    height: 600px;
    width: 345px; }
  #imagen-3 {
    grid-area: imagen-3;
    height: 300px;
    width: 320px; }
  #imagen-4 {
    grid-area: imagen-4;
    height: 300px;
    width: 320px; }
  #imagen-5 {
    grid-area: imagen-5;
    height: 300px;
    width: 320px; }
  #imagen-6 {
    grid-area: imagen-6;
    height: 300px;
    width: 320px; }
  #imagen-7 {
    grid-area: imagen-7;
    height: 600px;
    width: 345px; }
  #imagen-8 {
    grid-area: imagen-8;
    height: 300px;
    width: 640px; }
  #imagen-9 {
    grid-area: imagen-9;
    height: 300px;
    width: 320px; }
  #imagen-10 {
    grid-area: imagen-10;
    height: 300px;
    width: 320px; }
  #imagen-11 {
    grid-area: imagen-11;
    height: 300px;
    width: 320px; }
  #imagen-12 {
    grid-area: imagen-12;
    height: 300px;
    width: 320px; }
  #imagen-13 {
    grid-area: imagen-13;
    height: 300px;
    width: 640px; }
  #imagen-14 {
    grid-area: imagen-14;
    height: 300px;
    width: 640px; }
  /*se agrega el efecto hover*/
  .imagen h2,
  .imagen p {
    background-color: rgba(255, 255, 255, 0.521);
    transition: all 500ms ease-out;
    opacity: 0;
    cursor: pointer;
    visibility: hidden; }
  .imagen:hover > h2 {
    opacity: 1;
    visibility: visible; }
  .imagen:hover > p {
    opacity: 1;
    visibility: visible; }
  /*Estilos página nosotros*/
  .main-nosotros {
    width: 100%;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
  /*Agregamos una imagen de fondo*/
  .nosotros-mensaje {
    height: 490px;
    width: 100%; }
    .nosotros-mensaje h2 {
      font-size: 100px; }
  #logo img, #mision img, #vision img, #texto img {
    height: 250px;
    width: 350px; }
  .mision p,
  .vision p {
    margin: 70px; }
  .texto ul {
    margin: 70px; }
  #mision,
  #vision,
  #texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    #mision img,
    #vision img, #texto img {
      width: 100%; }
  #mision img {
    transform: translate(-100px, 50px);
    height: 400px; }
  #vision img {
    transform: translate(100px, 50px);
    height: 350px; }
  .vision h2 {
    text-align: right; }
  #texto img {
    transform: translate(-100px, 50px);
    height: 300px; }
  .nosotros-pagina img {
    height: 650px;
    width: 100%; }
  /*Estilos para página de contacto*/
  .main-contacto {
    padding: 135px 0px 25px 0px;
    height: auto;
    width: auto; }
  #contacto-cons img {
    height: 500px;
    width: 450px;
    cursor: pointer; }
  #contacto-cons img:hover {
    overflow: hidden;
    transform: translate3d(50px, 15px, 50px); }
  .contacto {
    background-image: url("../images/fondo-construccion.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 550px;
    width: 100%; }
  #contacto-cons,
  #contacto-des {
    background-size: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .contacto-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: aliceblue;
    width: 100%; }
    .contacto-info span {
      padding: 0px 10px; }
    .contacto-info i {
      padding: 0px 10px; }
    .contacto-info p {
      height: 50px;
      font-size: 25px;
      padding-top: 10px; }
  .card {
    margin: 25px; } }

/*Tablets*/
@media screen and (min-width: 768px) {
  header h1 {
    font-size: 35px; }
  /*Barra de navegación, tipo de letra, tamaño, etc..*/
  .navbar {
    position: fixed;
    top: 90px;
    width: 100%; }
  .main-inicio {
    padding-top: 145px; }
    .main-inicio p {
      font-size: 25px; }
  .mensaje-inicio {
    width: 100%; }
    .mensaje-inicio h2::before {
      top: -6vmin;
      left: 4vmin;
      width: 32vmin;
      height: 32vmin; }
  /*se acomodan las imagenes*/
  .contenedor-trabajo-inicio {
    width: 100%;
    display: grid;
    grid-template-areas: "trabajo-inicio trabajo-inicio" "secc-izq secc-der"; }
  .trabajo-inicio {
    width: 100%;
    grid-area: trabajo-inicio; }
    .trabajo-inicio h2 {
      display: inline-block;
      position: relative;
      font-family: 'Dancing Script', cursive;
      font-size: 60px;
      font-weight: 600; }
    .trabajo-inicio h2::after, .trabajo-inicio h2::before {
      content: '';
      position: absolute;
      width: 120px;
      height: 3px;
      background-color: currentColor;
      top: 0.6em; }
    .trabajo-inicio h2::before {
      left: -140px; }
    .trabajo-inicio h2::after {
      right: -140px; }
    .trabajo-inicio p {
      width: 100%; }
  .secc-izq {
    grid-area: secc-izq;
    width: 350px; }
  .secc-der {
    grid-area: secc-der;
    width: 400px; }
  .proy-arq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden; }
    .proy-arq img {
      height: 500px;
      width: 445px;
      cursor: pointer; }
    .proy-arq h3 {
      text-transform: uppercase;
      position: relative;
      color: black; }
  .proy-cons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden; }
    .proy-cons img {
      height: 250px;
      width: 500px;
      cursor: pointer; }
    .proy-cons h3 {
      text-transform: uppercase;
      color: black;
      text-align: center; }
  .proy-est {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden; }
    .proy-est img {
      height: 210px;
      width: 200px;
      cursor: pointer; }
    .proy-est img:hover {
      overflow: hidden;
      transform: translate3d(-50px, 0, 0); }
    .proy-est h3 {
      text-transform: uppercase;
      position: relative;
      color: black; }
  .proy-mant {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden; }
    .proy-mant img {
      height: 210px;
      width: 250px;
      cursor: pointer; }
    .proy-mant img:hover {
      overflow: hidden;
      transform: translate3d(-50px, 0, 0); }
    .proy-mant h3 {
      text-transform: uppercase;
      position: relative;
      color: black; }
  .destacados-inicio img {
    height: 300px;
    width: 100%; }
  .destacados-inicio h2 {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 600; }
  .destacados-inicio h2::after,
  .destacados-inicio h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em; }
  .destacados-inicio h2::before {
    left: -140px; }
  .destacados-inicio h2::after {
    right: -140px; }
  /*Animaciones para la galeria*/
  .galeria {
    display: grid;
    grid-template-areas: "imagen-1 imagen-1" "imagen-2 imagen-3" "imagen-2 imagen-4" "imagen-5 imagen-6" "imagen-7 imagen-9" "imagen-7 imagen-10" "imagen-8 imagen-8" "imagen-11 imagen-12" "imagen-13 imagen-13" "imagen-14 imagen-14"; }
  .titulo h2 {
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 600; }
  .titulo h2::after,
  .titulo h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em; }
  .titulo h2::before {
    left: -140px; }
  .titulo h2::after {
    right: -140px; }
  #imagen-1, #imagen-2, #imagen-3, #imagen-4, #imagen-5, #imagen-6, #imagen-7, #imagen-8, #imagen-9, #imagen-10, #imagen-11, #imagen-12, #imagen-13, #imagen-14 {
    grid-area: imagen-1;
    height: 300px;
    width: 800px; }
  #imagen-2 {
    grid-area: imagen-2;
    height: 600px;
    width: 400px; }
  #imagen-3 {
    grid-area: imagen-3;
    height: 300px;
    width: 400px; }
  #imagen-4 {
    grid-area: imagen-4;
    height: 300px;
    width: 400px; }
  #imagen-5 {
    grid-area: imagen-5;
    height: 300px;
    width: 400px; }
  #imagen-6 {
    grid-area: imagen-6;
    height: 300px;
    width: 400px; }
  #imagen-7 {
    grid-area: imagen-7;
    height: 600px;
    width: 400px; }
  #imagen-8 {
    grid-area: imagen-8;
    height: 300px;
    width: 800px; }
  #imagen-9 {
    grid-area: imagen-9;
    height: 300px;
    width: 400px; }
  #imagen-10 {
    grid-area: imagen-10;
    height: 300px;
    width: 400px; }
  #imagen-11 {
    grid-area: imagen-11;
    height: 300px;
    width: 400px; }
  #imagen-12 {
    grid-area: imagen-12;
    height: 300px;
    width: 400px; }
  #imagen-13 {
    grid-area: imagen-13;
    height: 300px;
    width: 800px; }
  #imagen-14 {
    grid-area: imagen-14;
    height: 300px;
    width: 800px; }
  /*Estilos de la página Nuestro Trabajo*/
  .main-nuestro-trabajo .container {
    margin: 120px 0px 0px 0px !important; }
  /*Estilos página nosotros*/
  .main-nosotros {
    width: 100%;
    padding-top: 140px;
    align-content: center; }
  .nosotros-pagina img {
    height: 400px;
    width: 100%; }
  /* Pagina nuestro trabajo*/
  .main-nuestro-trabajo {
    width: 100%; }
    .main-nuestro-trabajo .mensaje {
      margin: 155px 0px 0px 0px !important;
      display: flex;
      justify-content: center; }
      .main-nuestro-trabajo .mensaje h2 {
        display: inline-block;
        position: relative;
        font-family: 'Dancing Script', cursive;
        font-size: 60px;
        font-weight: 600; }
      .main-nuestro-trabajo .mensaje h2::after, .main-nuestro-trabajo .mensaje h2::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: currentColor;
        top: 0.6em; }
      .main-nuestro-trabajo .mensaje h2::before {
        left: -120px; }
      .main-nuestro-trabajo .mensaje h2::after {
        right: -120px; }
  /*Testimonios*/
  .testimonios {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .testimonio {
    padding: 20px 30px;
    justify-content: flex-start; }
    .testimonio p {
      text-align: left; }
  .puntuacion {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  /*Estilos para página de contacto*/
  .main-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
  .contacto-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: aliceblue;
    width: 100%; }
    .contacto-info span {
      padding: 0px 10px; }
    .contacto-info i {
      padding: 0px 10px; }
    .contacto-info p {
      height: 50px;
      font-size: 25px; }
  .contacto {
    background-image: url("../images/fondo-construccion.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
    width: 100%; }
  .contacto div {
    padding-left: 50px; }
  .card {
    margin: 25px; } }
