/*media queries*/

@media screen and (min-width: 1200px) {

    header {
        h1 {
            font-size: $letra-h1-md;
        }
    }

    h2 {
        font-size: $letra-h2-md;
    }

    h3 {
        font-size: $letra-h3-md;
    }

    /*Estilos del main: Página de inicio*/
    .main-inicio {
        width: 100%;
        padding-top: 140px;

        p {
            font-size: $letra-cuerpo-md;
        }
    }

    .mensaje-inicio {
        height: 490px;

        p {
            text-align: center;
            color: white;
            background-color: #0000005b;
            width: 350px;
            height: 60px;
            font-size: $letra-cuerpo-md;
        }
    }

    .palabras {
        height: 60px;

        span {
            display: block;
            height: 100%;
            width: 400px;
            padding-left: 3px !important;
            animation: cambia_palabras 6s infinite;
            font-size: $letra-cuerpo-md;
            text-align: center;
            color: white;
            background-color: #0000005b;
        }
    }

    /*se acomodan las imagenes*/
    .contenedor-trabajo-inicio {
        display: grid;
        grid-template-areas:
            "trabajo-inicio trabajo-inicio"
            "secc-izq secc-der";

    }

    .trabajo-inicio {
        grid-area: trabajo-inicio;
    }

    .secc-izq {
        grid-area: secc-izq;
    }

    .secc-der {
        grid-area: secc-der;
    }

    .proy-arq {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;

        img {
            height: 600px;
            width: 500px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-cons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 250px;
            width: 700px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(-50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-est {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 280px;
            width: 300px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(-50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-mant {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 250px;
            width: 300px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(-50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .destacados-inicio {
        img {
            height: 350px;
        }
    }

    /*Estilos de la página Nuestro Trabajo*/
    .main-nuestro-trabajo .container {
        margin: 0px !important;
        width: 100%;

        p {
            font-size: $letra-cuerpo-md;
        }
    }

    /*imagenes*/
    /*imagenes del mismo tamaño*/
    #proy-estruc img,
    #proy-arq img,
    #proy-cons img,
    #proy-mant img,
    #proy-planos img {
        height: 250px;
        width: 350px;
    }

    .imagen {
        overflow: hidden;

        img {
            cursor: pointer;
            transition: all 500ms ease-out;
        }
    }

    /*Estilos de Galería*/
    .main-galeria {

        h2 {
            font-size: $letra-h2-md;
        }

        p {
            font-size: $letra-cuerpo-md;
        }
    }


    /*En galería hacer imagenes tipo presentacion*/
    #carouselExampleSlidesOnly {
        margin: 5px 0px;
        height: 650px;
        width: 650px;
    }

    /*tamño de las imagenes */
    #c1 img,
    #c2 img,
    #c3 img,
    #c4 img,
    #ed1 img,
    #ed2 img,
    #ed3 img {
        height: 450px;
        width: 650px;
    }

    #t1 img,
    #t2 img,
    #t3 img {
        height: 450px;
        width: 550px;
    }

    #e3 img,
    #e4 img {
        height: 450px;
        width: 450px;
    }

    /*Estilos página nosotros*/
    .main-nosotros {
        width: 100%;
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    /*Agregamos una imagen de fondo*/
    .nosotros-mensaje {
        height: 490px;
        width: 100%;

        h2 {
            font-size: 60px;
        }
    }

    #logo img {
        height: 250px;
        width: 350px;
    }

    #mision,
    #vision {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .nosotros-pagina img {
        height: 550px;
        width: 100%;
    }

    /*Estilos para página de contacto*/
    .main-contacto {
        padding: 135px 0px 25px 0px;
        height: auto;
        width: auto;
    }

    #contacto-cons {

        img {
            height: 500px;
            width: 450px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(50px, 15px, 50px);
        }
    }

    #contacto-cons,
    #contacto-des {
        background-size: 400px;
        height: 500px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contacto-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        background-color: aliceblue;

        span {
            padding: 0px 10px;
        }

        i {
            padding: 0px 10px;
        }

        p {
            height: 50px;
            font-size: 25px;
            padding-top: 10px;
        }
    }
}

/*Tablets*/
@media screen and (min-width: 768px) {

    header {
        h1 {
            font-size: $letra-h1-md;
        }

    }

    /*Barra de navegación, tipo de letra, tamaño, etc..*/
    .navbar {
        position: fixed;
        top: 90px;
        width: 100%;
    }

    /*Estilos del main: Página de inicio*/
    .palabras span {
        display: block;
        height: 50px;
        width: 500px;
        padding-left: 5px;
        font-size: 30px;
    }

    .main-inicio {
        p {
            font-size: $letra-cuerpo-md;
        }
    }

    .animacion p {
        font-size: 30px;
        height: 80px;
    }

    /*se acomodan las imagenes*/
    .contenedor-trabajo-inicio {
        display: grid;
        grid-template-areas:
            "trabajo-inicio trabajo-inicio"
            "secc-izq secc-der";

    }

    .trabajo-inicio {
        grid-area: trabajo-inicio;
    }

    .secc-izq {
        grid-area: secc-izq;
    }

    .secc-der {
        grid-area: secc-der;
    }

    .proy-arq {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;

        img {
            height: 500px;
            width: 245px;
            cursor: pointer;
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-cons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 250px;
            width: 500px;
            cursor: pointer;
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-est {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 210px;
            width: 200px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(-50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-mant {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 210px;
            width: 250px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(-50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .destacados-inicio {
        img {
            height: 300px;
            width: 100%;
        }
    }

    /*Animaciones para la galeria*/
    .titulo {
        animation: typewriter 5s steps(44) 1s 1 normal both;
        z-index: -1;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 18em;
        }
    }

    /*Estilos de la página Nuestro Trabajo*/
    .main-nuestro-trabajo {

        .container {
            margin: 120px 0px 0px 0px !important;
        }
    }


    /*Estilos página nosotros*/
    .main-nosotros {
        width: 100%;
        padding-top: 140px;
        align-content: center;
    }

    .nosotros-pagina {

        img {
            height: 400px;
            width: 100%;
        }
    }

    /*Estilos para página de contacto*/
    .main-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .contacto-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        background-color: aliceblue;

        span {
            padding: 0px 10px;
        }

        i {
            padding: 0px 10px;
        }

        p {
            height: 50px;
            font-size: $letra-cuerpo-md;
        }
    }
}