/*media queries*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');

@media screen and (min-width: 1200px){

    header {
        h1 {
            font-size: $letra-h1-md;
        }
    }

    h2 {
        font-size: $letra-h2-md;
    }

    h3 {
        font-size: $letra-h3-md;
    }

    /*Estilos del main: Página de inicio*/
    .main-inicio {
        width: 100%;
        padding-top: 138px;

        p {
            font-size: $letra-cuerpo-md;
        }
    }

    .mensaje-inicio {
        height: 490px;

        h2::before {
            top: -1.5vmin;
            left: 1vmin;
            width: 20vmin;
            height: 20vmin;
        }
    }

    /*se acomodan las imagenes*/
    .contenedor-trabajo-inicio {
        display: grid;
        grid-template-areas:
            "trabajo-inicio trabajo-inicio"
            "secc-izq secc-der";

    }

    .trabajo-inicio {
        grid-area: trabajo-inicio;

        h2{
            display: inline-block;
            position: relative;
            font-family: 'Dancing Script', cursive;
            font-size: 60px !important;
            font-weight: 600 !important;
        }

        h2::after,h2::before{
            content:'';
            position: absolute;
            width: 120px !important;
            height: 3px;
            background-color: currentColor;
            top: 0.6em;
        }

        h2::before{
            left: -140px !important;
        }

        h2::after{
            right: -140px !important;
        }
    }

    .secc-izq {
        grid-area: secc-izq;
    }

    .secc-der {
        grid-area: secc-der;
    }

    .proy-arq {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;
        width: 600px;

        img {
            height: 600px;
            width: 500px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-cons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 250px;
            width: 700px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(-50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-est {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 280px;
            width: 300px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(-50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .proy-mant {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;

        img {
            height: 250px;
            width: 300px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(-50px, 0, 0);
        }

        h3 {
            text-transform: uppercase;
            position: relative;
            color: black;
        }
    }

    .destacados-inicio {
        img {
            height: 350px;
        }

        h2{
            display:inline-block;
            position: relative;
            font-family: 'Dancing Script', cursive;
            font-size: 60px;
            font-weight: 600;
        }

        h2::after,h2::before{
            content:'';
            position: absolute;
            width: 120px;
            height: 3px;
            background-color: currentColor;
            top: 0.6em;
        }

        h2::before{
            left: -140px;
        }

        h2::after{
            right: -140px;
        }
    }

    /*Estilos de la página Nuestro Trabajo*/
    .main-nuestro-trabajo {
        width: 100%;

        .mensaje {
            margin: 145px 0px 0px 0px !important;
            display: flex;
            justify-content: center;
    
            h2{
                display:inline-block;
                position: relative;
                font-family: 'Dancing Script', cursive;
                font-size: 60px;
                font-weight: 600;
            }
    
            h2::after,h2::before{
                content:'';
                position: absolute;
                width: 120px;
                height: 3px;
                background-color: currentColor;
                top: 0.6em;
            }
    
            h2::before{
                left: -140px;
            }
    
            h2::after{
                right: -140px;
            }
    
        }
    }
    .main-nuestro-trabajo .container {
        margin: 0px !important;
        width: 100%;

        p {
            font-size: $letra-cuerpo-md;
        }
    }

    /*imagenes*/
    /*imagenes del mismo tamaño*/
    #proy-estruc img,
    #proy-arq img,
    #proy-cons img,
    #proy-mant img,
    #proy-planos img {
        height: 250px;
        width: 350px;
    }

    .imagen {
        overflow: hidden;

        img {
            cursor: pointer;
            transition: all 500ms ease-out;
        }
    }

    /*Testimonios*/
    .testimonios{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .testimonio {
        padding: 20px 50px;
        justify-content: flex-start;
        
        p{
            text-align: left;
        }
    }

    .puntuacion {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    /*Estilos de Galería*/
    .main-galeria {

        h2 {
            font-size: $letra-h2-md;
        }

        p {
            font-size: $letra-cuerpo-md;
        }
    }


    .titulo {
        h2{
            display:inline-block;
            position: relative;
            font-family: 'Dancing Script', cursive;
            font-size: 60px;
            font-weight: 600;
        }

        h2::after,h2::before{
            content:'';
            position: absolute;
            width: 120px;
            height: 3px;
            background-color: currentColor;
            top: 0.6em;
        }

        h2::before{
            left: -140px;
        }

        h2::after{
            right: -140px;
        }
    }

    .galeria {
        display: grid;
        grid-template-areas:
            "imagen-1 imagen-1 imagen-2 imagen-3"
            "imagen-4 imagen-5 imagen-2 imagen-6"
            "imagen-7 imagen-8 imagen-8 imagen-9"
            "imagen-7 imagen-10 imagen-11 imagen-12"
            "imagen-13 imagen-13 imagen-14 imagen-14"
        !important;
    }

    @mixin size ($alto, $ancho) {
        height: $alto;
        width: $ancho;
    }

    #imagen-1 {
        grid-area: imagen-1;
        @include size(300px, 640px);
    }

    #imagen-2 {
        grid-area: imagen-2;
        @include size(600px, 345px);
    }

    #imagen-3 {
        grid-area: imagen-3;
        @include size(300px, 320px);
    }

    #imagen-4 {
        grid-area: imagen-4;
        @include size(300px, 320px);
    }

    #imagen-5 {
        grid-area: imagen-5;
        @include size(300px, 320px);
    }

    #imagen-6 {
        grid-area: imagen-6;
        @include size(300px, 320px);
    }

    #imagen-7 {
        grid-area: imagen-7;
        @include size(600px, 345px);
    }

    #imagen-8 {
        grid-area: imagen-8;
        @include size(300px, 640px);
    }

    #imagen-9 {
        grid-area: imagen-9;
        @include size(300px, 320px);
    }

    #imagen-10 {
        grid-area: imagen-10;
        @include size(300px, 320px);
    }

    #imagen-11 {
        grid-area: imagen-11;
        @include size(300px, 320px);
    }

    #imagen-12 {
        grid-area: imagen-12;
        @include size(300px, 320px);
    }

    #imagen-13 {
        grid-area: imagen-13;
        @include size(300px, 640px);
    }

    #imagen-14 {
        grid-area: imagen-14;
        @include size(300px, 640px);
    }

    /*se agrega el efecto hover*/
    .imagen h2,
    .imagen p {
        background-color: rgba(255, 255, 255, 0.521);
        transition: all 500ms ease-out;
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
    }

    .imagen:hover>h2 {
        opacity: 1;
        visibility: visible;
    }

    .imagen:hover>p {
        opacity: 1;
        visibility: visible;
    }

    /*Estilos página nosotros*/
    .main-nosotros {
        width: 100%;
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    /*Agregamos una imagen de fondo*/
    .nosotros-mensaje {
        height: 490px;
        width: 100%;

        h2 {
            font-size: 100px;
        }
    }

    #logo img {
        height: 250px;
        width: 350px;
    }

    .mision,
    .vision {
        p {
            margin: 70px;
        }
    }

    .texto ul {
        margin: 70px;
    }

    #mision,
    #vision,
    #texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

        img {
            width: 100%;
        }
    }

    #mision img {
        transform: translate(-100px, 50px);
        height: 400px;
    }

    #vision {
        img {
            transform: translate(100px, 50px);
            height: 350px;
        }

    }

    .vision {
        h2 {
            text-align: right;
        }
    }

    #texto img {
        transform: translate(-100px, 50px);
        height: 300px;
    }

    .nosotros-pagina img {
        height: 650px;
        width: 100%;
    }

    /*Estilos para página de contacto*/
    .main-contacto {
        padding: 135px 0px 25px 0px;
        height: auto;
        width: auto;
    }

    #contacto-cons {

        img {
            height: 500px;
            width: 450px;
            cursor: pointer;
        }

        img:hover {
            overflow: hidden;
            transform: translate3d(50px, 15px, 50px);
        }
    }

    .contacto {
        background-image: url("../images/fondo-construccion.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 550px;
        width: 100%;
    }


    #contacto-cons,
    #contacto-des {
        background-size: 400px;
        height: 500px;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .contacto-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        background-color: aliceblue;
        width: 100%;

        span {
            padding: 0px 10px;
        }

        i {
            padding: 0px 10px;
        }

        p {
            height: 50px;
            font-size: 25px;
            padding-top: 10px;
        }
    }

    .card {
        margin: 25px;
    }

}

/*Tablets*/
@media screen and (min-width: 768px){

    header {
        h1 {
            font-size: $letra-h1-md;
        }

    }

    /*Barra de navegación, tipo de letra, tamaño, etc..*/
    .navbar {
        position: fixed;
        top: 90px;
        width: 100%;
    }

    .main-inicio {
        padding-top: 145px;

        p {
            font-size: $letra-cuerpo-md;
        }
    }

    .mensaje-inicio {
        width: 100%;

        h2::before {
            top: -1.5vmin;
            left: 1 vmin;
            width: 20vmin;
            height: 20vmin;
        }
    }

    /*se acomodan las imagenes*/
    .contenedor-trabajo-inicio {
        width: 100%;
        display: grid;
        grid-template-areas:
            "trabajo-inicio trabajo-inicio"
            "secc-izq secc-der";

    }

    .trabajo-inicio {
        width: 100%;
        grid-area: trabajo-inicio;

        h2{
            display: inline-block;
            position: relative;
            font-family: 'Dancing Script', cursive;
            font-size: 60px;
            font-weight: 600;
        }

        h2::after,h2::before{
            content:'';
            position: absolute;
            width: 120px;
            height: 3px;
            background-color: currentColor;
            top: 0.6em;
        }

        h2::before{
            left: -140px;
        }

        h2::after{
            right: -140px;
        }

        p{
            width: 100%;
        }
    }

    .destacados-inicio {
        img {
            height: 300px;
            width: 100%;
        }

        h2{
            display:inline-block;
            position: relative;
            font-family: 'Dancing Script', cursive;
            font-size: 60px;
            font-weight: 600;
        }

        h2::after,h2::before{
            content:'';
            position: absolute;
            width: 120px;
            height: 3px;
            background-color: currentColor;
            top: 0.6em;
        }

        h2::before{
            left: -140px;
        }

        h2::after{
            right: -140px;
        }
    }

    /*Animaciones para la galeria*/
    .galeria {
        display: grid;
        grid-template-areas:
            "imagen-1 imagen-1"
            "imagen-2 imagen-3"
            "imagen-2 imagen-4"
            "imagen-5 imagen-6"
            "imagen-7 imagen-9"
            "imagen-7 imagen-10"
            "imagen-8 imagen-8"
            "imagen-11 imagen-12"
            "imagen-13 imagen-13"
            "imagen-14 imagen-14"
        ;
    }

    .titulo {
        h2{
            display:inline-block;
            position: relative;
            font-family: 'Dancing Script', cursive;
            font-size: 60px;
            font-weight: 600;
        }

        h2::after,h2::before{
            content:'';
            position: absolute;
            width: 120px;
            height: 3px;
            background-color: currentColor;
            top: 0.6em;
        }

        h2::before{
            left: -140px;
        }

        h2::after{
            right: -140px;
        }
    }

    @mixin size ($alto, $ancho) {
        height: $alto;
        width: $ancho;
    }

    #imagen-1 {
        grid-area: imagen-1;
        @include size(300px, 800px);
    }

    #imagen-2 {
        grid-area: imagen-2;
        @include size(600px, 400px);
    }

    #imagen-3 {
        grid-area: imagen-3;
        @include size(300px, 400px);
    }

    #imagen-4 {
        grid-area: imagen-4;
        @include size(300px, 400px);
    }

    #imagen-5 {
        grid-area: imagen-5;
        @include size(300px, 400px);
    }

    #imagen-6 {
        grid-area: imagen-6;
        @include size(300px, 400px);
    }

    #imagen-7 {
        grid-area: imagen-7;
        @include size(600px, 400px);
    }

    #imagen-8 {
        grid-area: imagen-8;
        @include size(300px, 800px);
    }

    #imagen-9 {
        grid-area: imagen-9;
        @include size(300px, 400px);
    }

    #imagen-10 {
        grid-area: imagen-10;
        @include size(300px, 400px);
    }

    #imagen-11 {
        grid-area: imagen-11;
        @include size(300px, 400px);
    }

    #imagen-12 {
        grid-area: imagen-12;
        @include size(300px, 400px);
    }

    #imagen-13 {
        grid-area: imagen-13;
        @include size(300px, 800px);
    }

    #imagen-14 {
        grid-area: imagen-14;
        @include size(300px, 800px);
    }

    /*Estilos de la página Nuestro Trabajo*/
    .main-nuestro-trabajo {

        .container {
            margin: 120px 0px 0px 0px !important;
        }
    }

    /*Estilos página nosotros*/
    .main-nosotros {
        width: 100%;
        padding-top: 140px;
        align-content: center;
    }

    .nosotros-pagina {

        img {
            height: 400px;
            width: 100%;
        }
    }

    /* Pagina nuestro trabajo*/
    .main-nuestro-trabajo {
        width: 100%;

        .mensaje {
            margin: 155px 0px 0px 0px !important;
            display: flex;
            justify-content: center;
    
            h2{
                display:inline-block;
                position: relative;
                font-family: 'Dancing Script', cursive;
                font-size: 60px;
                font-weight: 600;
            }
    
            h2::after,h2::before{
                content:'';
                position: absolute;
                width: 100px;
                height: 3px;
                background-color: currentColor;
                top: 0.6em;
            }
    
            h2::before{
                left: -120px;
            }
    
            h2::after{
                right: -120px;
            }
    
        }
    }
    /*Testimonios*/
    .testimonios{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .testimonio {
        padding: 20px 30px;
        justify-content: flex-start;

        p{
            text-align: left;
        }
    }

    .puntuacion {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /*Estilos para página de contacto*/
    .main-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .contacto-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        background-color: aliceblue;
        width: 100%;

        span {
            padding: 0px 10px;
        }

        i {
            padding: 0px 10px;
        }

        p {
            height: 50px;
            font-size: $letra-cuerpo-md;
        }
    }

    .contacto {
        background-image: url("../images/fondo-construccion.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 450px;
        width: 100%;
    }

    .contacto div {
        padding-left: 50px;
    }

    .card {
        margin: 25px;
    }

}