/* Pagina nuestro trabajo*/
.main-nuestro-trabajo {
    width: 100%;

    .mensaje {
        margin: 155px 0px 0px 0px !important;
        display: flex;
        justify-content: center;

        h2 {
            display: inline-block;
            position: relative;
            font-family: 'Dancing Script', cursive;
            font-size: 25px;
            font-weight: 400;

            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 3px;
                background-color: currentColor;
                top: 0.6em;
            }

            &::before {
                left: -40px;
            }

            &::after {
                right: -40px;
            }
        }
    }
}

.main-nuestro-trabajo .container-fluid {

    h2 {
        text-align: center;
    }

    h3 {
        color: rgb(33, 20, 156);
        text-align: center;
    }

    img {
        cursor: pointer;
        transition: all 500ms ease-out;
    }

    img:hover {
        transform: scale(1.5);
    }
}

/*centrar elementos de cada caja*/
#proy-estruc,
#proy-arq,
#proy-cons,
#proy-mant,
#proy-planos {
    margin: 10px 2px 2px 0px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    /*imagenes del mismo tamaño*/
    img {
        height: 150px;
        width: 250px;
    }

    p {
        font-family: $tipo-letra;
        font-size: $letra-cuerpo-sm;
        text-align: center;
    }
}

/*para los testimonios*/
.trabajo-testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;

    hr {
        border: 2px solid black;
        width: 100px;
    }

    p {
        text-align: center;
    }
}

.testimonio {
    @extend .trabajo-testimonios;
    padding-top: 50px;
}

.puntuacion {
    img {
        height: 50px;
        width: 170px;
    }

    p {
        color: rgb(114, 114, 114);
    }
}

.opinion {
    width: 100%;

    p {
        font-size: $letra-cuerpo-sm;
    }
}

.usuario {
    p {
        font-size: $letra-cuerpo-sm;
        color: #88b06a;
    }
}