/*Estilos del main: Página de inicio*/
.main-inicio {
    width: 100%;
    padding-top: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/*se agrega imagen de fondo*/
.mensaje-inicio {
    background-color: black;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    img {
        padding-top: 30px;
    }
}

/*uso de mixins*/
@mixin size ($alto, $ancho) {
    height: $alto;
    width: $ancho;
}

:root {
    --bg-color: black;
}

.mensaje-mov {
    font-size: 3em;
    color: white;
    width: 100%;
    height: 200px;

    span {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        line-height: 1.2;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: white;
            animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
            transform: translateX(-101%);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: var(--bg-color);
            animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
            transform: translateX(0);
        }

        &:nth-of-type(1)::before {
            animation-delay: 1s;
        }

        &:nth-of-type(1)::after {
            animation-delay: 1s;
        }

        &:nth-of-type(2)::before {
            animation-delay: 1.5s;
        }

        &:nth-of-type(2)::after {
            animation-delay: 1.5s;
        }

        &:nth-of-type(3)::before {
            animation-delay: 2s;
        }

        &:nth-of-type(3)::after {
            animation-delay: 2s;
        }
    }

}

@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(101%)
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(200%)
    }
}


.destacados-inicio img {
    @include size(150px, 100%);
}

.contenedor-trabajo-inicio {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;

    .trabajo-inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;

        h2 {
            display: inline-block;
            position: relative;
            font-family: 'Dancing Script', cursive;
            font-size: 25px;
            font-weight: 400;


            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 3px;
                background-color: currentColor;
                top: 0.6em;
            }

            &::before {
                left: -40px;
            }

            &::after {
                right: -40px;
            }
        }
    }

    p {
        font-family: $tipo-letra;
        font-size: letra-cuerpo-sm;
        text-align: center;
    }
}


.proy-arq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(220, 226, 230);

    img {
        @include size(300px, 100%);
    }

    h3 {
        text-transform: uppercase;
        z-index: 1;
        position: relative;
        color: black;
    }
}

.proy-cons,
.proy-est,
.proy-mant {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    background-color: rgb(220, 226, 230);

    img {
        height: 250px;
        width: 100%;
    }

    h3 {
        text-transform: uppercase;
        z-index: 1;
        text-align: center;
        color: black;
    }
}

/*imagenes de proyectos destacados*/
.destacados-inicio {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    h2 {
        display: inline-block;
        position: relative;
        font-family: 'Dancing Script', cursive;
        font-weight: 400;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: currentColor;
            top: 0.6em;
        }

        &::before {
            left: -40px;
        }

        &::after {
            right: -40px;
        }
    }

    p {
        font-family: $tipo-letra;
        font-size: $letra-cuerpo-sm;
        text-align: center;
    }

    img {
        @include size(150px, 100%);
    }
}