/*Estilos para página de contacto*/
.main-contacto {
    padding: 160px 0px 10px 0px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#contacto-cons {
    img {
        height: 300px;
        width: 300px;
    }
}

#contacto-des {
    display: flex;
    flex-direction: column;
    background-size: 200px;

    p {
        text-align: left;
        font-family: $tipo-letra;
        font-size: $letra-cuerpo-sm;
    }
}

.contacto {
    height: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(255, 0, 0);
    width: 100%;

    p {
        height: 30px;
        font-size: $letra-cuerpo-sm;
    }
}

.contacto-form {
    h2 {
        text-align: center;
    }
}

.formulario {
    background-image: url(../images/fondo-nosotros.jpg);
    margin: 10px;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    label{
        color: white;
    }
}

.cartas {
    padding-top: 30px;

    .card {
        margin: 25px;
    }

    #carta-1 {
        background-image: url(../images/fondo-nosotros.jpg);

        p{
            text-align: center;
            font-size: $letra-cuerpo-sm;
        }
    }

}
.linea-div{
    width: 50%;

}